* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #ece2c6;
}

header {
	float: left;
	height: 120px;
	width: 50%;
	background: #333;
	line-height: 120px;
	text-align: center;
	margin: 0px;
	color: #c0c0c0;
}

header h3 {
	font-size: 1.7em;
	padding: 0px 150px 0px 0px;
}

nav ul li {
	float: left;
	color: #ffbf5e;
	margin: 10px;
	line-height: 110px;
	font-size: 1em;
	padding: 0px 0px 0px 30px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #c0c0c0;
}

nav {
	float: left;
	height: 120px;
	width: 50%;
	background: #333;
	line-height: 140px;
	margin: 0;
}

nav a {
	padding: 0.5rem 0.5rem;
}

nav a:hover{
	background: #908c38;
	border-radius: 15px;
}

.sort {
	clear: both;
}

section.video{
	margin: 2% 30% 0% 20%;
}

section h3 {
	font-size: 1.7em;
	text-align: center;
	margin-bottom: 35px;
}
