table {
	margin: 20px auto;
	text-align: center;
	table-layout: fixed;
}

table tr td{
	padding: 20px 100px 20px 100px;
}

th {
	padding: 20px 100px 20px 100px;
	background-color: #908c38;
	color: #C0C0C0;
}

tr:nth-child(odd){
	background-color: #F2F2F2;
}

tr:hover {
	background-color: #DDD;
}

caption {
	font-size: 1.7em;
	font-weight: bold;
}
