<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <div id="second-sort" class="sort"></div>
    <!--  Coloque su codigo desde aqui -->
    <div>
      <form method="POST" action="">
        <label for="name">Name: </label>
        <input type="text" placeholder="Insert Name Here">
        <label for="email">Email: </label>
        <input type="email" placeholder="Insert Email Here">
        <span class="error" aria-live="polite"></span>
        <label for="message">Message: </label>
        <textarea placeholder="Insert Message Here"></textarea>
        <input id="bottom" type="submit" value="Send" />
      </form>
    </div>
    <!--  Hasta aqui -->
  </body>
  <script type="module" src="../js/Load.js"></script>
</html>
