<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <div id="second-sort" class="sort"></div>
    <!--  Coloque su codigo desde aqui -->
    <div class="projectsElements">
      <section class="fadeInSection">
        <h4 class="bx bx-folder">Academic Projects</h4>
        <ul>
          <li>
            <a class="bx bxl-github" target="_blank" href="https://github.com/mateok13/Restaurant_HEX">Restaurant</a>
          </li>
          <li>
            <a class="bx bxl-github" target="_blank" href="https://github.com/jeirf12/ProjectFinalBasesDatosI">Home Business</a>
          </li>
        </ul>
      </section>
      <section class="fadeInSection">
        <h4 class="bx bx-folder">Hobbies Projects</h4>
        <ul>
          <li>
            <a class="bx bxl-github" target="_blank" href="https://github.com/jeirf12/dotfiles">Dotfiles</a>
          </li>
          <li>
            <a class="bx bxl-github" target="_blank" href="https://github.com/jeirf12/script-win">Scripts Windows</a>
          </li>
        </ul>
      </section>
      <section class="fadeInSection">
        <h4 class="bx bx-folder">Future Projects</h4>
        <ul>
          <li>
            <a class="bx bxs-send" href="https://www.europapress.es/portaltic/sector/noticia-ia-google-supera-humanos-acelera-diseno-microchips-20210614145737.html">Artificial Intelligence</a>
          </li>
          <li>
            <a class="bx bxs-send" href="https://www.redhat.com/es/topics/automation/what-is-security-automation">Security Automation</a>
          </li>
        </ul>
      </section>
    </div>
    <!--  Hasta aqui -->
  </body>
  <script type="module" src="../js/Load.js"></script>
</html>
