<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <!--  Coloque su codigo desde aqui -->
    <div class="table-container">
      <div class="table-title">My Studies</div>
      <div class="table-header">
        <div class="table-item">#</div>
        <div class="table-item">Degree</div>
        <div class="table-item">Institution</div>
        <div class="table-item">Year</div>
      </div>
      <div class="table-row">
        <div class="table-item">1</div>
        <div class="table-item">Primary</div>
        <div class="table-item">Piagua Educational Institution - Sidewalk Muyunga</div>
        <div class="table-item">2009</div>
      </div>
      <div class="table-row">
        <div class="table-item">2</div>
        <div class="table-item">Secondary</div>
        <div class="table-item">Piagua Educational Institution - Headquartes</div>
        <div class="table-item">2011</div>
      </div>
      <div class="table-row">
        <div class="table-item">3</div>
        <div class="table-item">Baccalaureate</div>
        <div class="table-item">Politechnic Educational Institution Francisco de Paula Santander</div>
        <div class="table-item">2015</div>
      </div>
      <div class="table-row">
        <div class="table-item">4</div>
        <div class="table-item">Systems Enginnering</div>
        <div class="table-item">University of Cauca</div>
        <div class="table-item">2021</div>
      </div>
    </div>
    <!--  Hasta aqui -->
  </body>
  <script type="module" src="../js/Load.js"></script>
</html>
