<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <div id="second-sort" class="sort"></div>
    <!--  Coloque su codigo desde aqui -->
    <table>
      <caption>My Studies</caption>
      <tr>
        <th>#</td>
        <th>Degree</td>
        <th>Institution</td>
        <th>Year</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Primary</td>
        <td>Piagua Educational Institution - Sidewalk Muyunga</td>
        <td>2009</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Secondary</td>
        <td>Piagua Educational Institution - Headquartes</td>
        <td>2011</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Baccalaureate</td>
        <td>Politechnic Educational Institution Francisco de Paula Santander</td>
        <td>2015</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Systems Enginnering</td>
        <td>University of Cauca</td>
        <td>2021</td>
      </tr>
    </table>
    <!--  Hasta aqui -->
  </body>
  <script type="module" src="../js/Load.js"></script>
</html>
