* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #ece2c6;
}

.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #333;
  line-height: 120px;
  text-align: center;
  margin: 0px;
  color: #c0c0c0;
}

.header nav, .header h3 {
  display: inline-block;
}

.header > h3 {
  font-size: 1.7em;
}

.header > nav ul li {
  display: inline;
  font-size: 1em;
  padding: 0px 0px 0px 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #c0c0c0;
  cursor: pointer;
}

.header > nav a {
  padding: 0.5rem 0.5rem;
}

.header nav a:hover {
  background: #908c38;
  border-radius: 15px;
}

section > h3 {
  font-size: 1.7em;
  margin: 2% 0;
  text-align: center;
}

section > video {
  display: flex;
  border-radius: 15px;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2rem;
  font-size: 60px;
}

footer a, footer i {
  text-decoration: none;
  color: #4f614f;
  transition: transform 0.5s;
}

footer i {
  cursor: pointer;
}

footer a:hover,
i:hover {
  transform: translateY(-1rem);
}

.facebook {
  color: #0A82ED !important;
}

.instagram {
  color: #ffffff !important;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 20px;
}

.github {
  color: #ffffff !important;
  background: #000000;
  border-radius: 50%;
}
